<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>You decide</title>
</head>
<body>

 <div id="app">
  [[ message ]]
</div>
<div>
    <input type="text" id="input" v-model="text">

</div>

<script>

var app = new Vue({
    delimiters: ['[[', ']]'],
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
    var app2 = new Vue({

  el: '#input',
  data: {
    text: '2 Hello Vue!'
  }
})
</script>




</body>
</html>