amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
billiard==3.3.0.23
celery==3.1.18
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
defusedxml==0.5.0
Django==2.0.2
django-cors-headers==2.5.2
django-nose==1.4.6
djangorestframework==3.9.2
djangorestframework-simplejwt==4.1.1
idna==2.8
kombu==3.0.37
mailgun==0.1.1
nexmo==2.3.0
ngrok==0.0.1
nose==1.3.7
oauthlib==3.0.1
Pillow==5.4.1
psycopg2==2.7.7
pyactiveresource==1.0.1
pycparser==2.19
PyJWT==1.7.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
urllib3==1.24.1
