django==2.0.2
nose
django-nose
djangorestframework
create-react-app@1.5.2
npm==5.7.1
Pillow
social-auth-app-django
python-decouple
mysqlclient
pymysql
celery==3.1.18
mailgun
django-cors-headers
nexmo
ngrok