container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python youdecide/manage.py migrate --noinput"
    leader_only: true
  
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python youdecide/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "youdecide.settings.production"
    "HOST_USER": "apikey"
    "EMAIL_PASSWORD": "@1OBINNN"
    "HOST_PASSWORD": "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"
    "SENDGRID_API_KEY": "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"
    "FACEBOOK_APP_ID": "335553440546478"
    "EMAIL_PASSWORD": "@1OBINNN"
    "FACEBOOK_APP_SECRET": "45b29d9bbc23a6bda37b59806929844c"
    "GOOGLE_SECRET_KEY": "-kSsYXYMWXByX4Q-yrrzU221"
    "GOOGLE_KEY": "660251119844-ku66h43ojijol9fct8vlph42rs00kd9h.apps.googleusercontent.com"
    "SECRET_KEY": "DJD"
    "BONSAI_URL": "https://hvdwktj6pd:epx0rzhffo@jasmine-670477483.us-east-1.bonsaisearch.net:443"
    "NEXMO_API_KEY": "dd"
    "CLOUDINARY_KEY": "939671436236295"
    "CLOUDINARY_SECRET_KEY": "B_VkIFFc83ZiFT5E39qElmRpUgo"
    "NEXMO_API_SECRET": "jd"
    "REDIS_URL": "redis://h:p6e1f8caec4db141af95effe7fa212d2a658f1655fa14e84fe2102b8a00ba771e@ec2-34-206-10-16.compute-1.amazonaws.com:28149"
    "PYTHONPATH": "/opt/python/current/app/youdecide:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: youdecide/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"