container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python youdecide/manage.py migrate --noinput"
    leader_only: true
  
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python youdecide/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "youdecide.settings.production"
    "PYTHONPATH": "/opt/python/current/app/youdecide:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: youdecide/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"